footer{
  .wrapper{
    .footer-link{
      .logo{
        width:vw(139);
        img{
          width: 100%;
        } 
      }
      ul{
        li{
          padding: 0 vw(19);
          margin: auto;
          margin-top: -0.8vw;
          &:nth-child(1){
            padding-left:vw(35);
          }
          &:last-child{
            padding-right: 0;
          }
          &:after{
            height: vw(10);
            top: 55%;
            transform: translateY(-50%);
          }
          a{
            font-size: vw(7);
            line-height: vw(7);
          }
        }
      }
    }
    .copyright{
      font-size: vw(14);
      line-height: vw(16);
      padding-top: 0;
      padding-bottom: vw(68);
    }
  }
  &:after{
    top: vw(124);
  }
}