.img-link-banner{
  padding:0  rem(43);
  ul{
    li{
      max-width: vw(250);
      min-width: vw(250);
      margin-right: rem(34);
      &:last-child{
        margin-left: 0;
        margin-right: 0;
      }
    }
  }
}