@media screen and (max-width:721px) {
  
@import 'functions';
@import 'section';
@import 'circle_bg';
@import 'owl';
@import 'order_list';
@import 'img_link_banner';
@import 'footer';
@import 'terms';
}

@media screen and (max-width:320px) {
  footer{
    .wrapper{
      .footer-link{
        display: block;
        .logo{
          margin-left: rem(17);
        }
        ul{
          display: block;
          text-align: center;
          li{
            display: inline-block;
            &:first-child{
              padding-left: 0;
            }
          }
        }
      }
    }
  }
}