.order-list{
  width: 100%;
  ul{
    li{
      width: vw(164);
      font-size: rem(34);
      line-height: rem(84);
      height: rem(84);
      margin-right: rem(56);
      &:after{
        width: rem(30);
        height: rem(10);
        right: -#{rem(44)};
      }
      &:nth-child(3),
      &:nth-child(4){
        &:after{
          width: rem(10);
          height: rem(30);
        }
      }
      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(3){
        margin-bottom: rem(64);
      }
      &:nth-child(4){
        &:after{
          top: -#{rem(48)};
        }
      }
      &:nth-child(3){
        &:after{
          top: rem(100);
        }
      }
      &:nth-child(5),
      &:nth-child(6){
        &:after{
          left: -#{rem(42)};
        }
      }
    }
  }
}