.section_2{
  .wrapper{
    .phone-slide{
      position: absolute;
      top: unset;
      bottom:vw(9);
      left: 0;
      padding-left: vw(12);
      padding-right: vw(18);
      .owl-stage-outer{
        border-top-left-radius: rem(36);
        border-top-right-radius: rem(36);
      }
      .item{
        // flex-wrap: unset;
        // flex-direction: column;
        .text-banner{
          font-size: vw(34);
          line-height: vw(46);
          margin-top: vw(140);
          margin-bottom:vh(39);
          // margin-bottom:vw(136);
        }
        .slide-img-banner{
          position: relative;
          // width: vw(380);
          width: 100%;
          img {
            border-top-left-radius: rem(36);
            border-top-right-radius: rem(36);
          }
        }
      }
      .owl-dots{
        display: none;
      }
      &.text-slide{
        top: 0;
        .owl-dots{
          display: block;
          top: vh(19);
          .custom-dot{
            width: vw(18);
            height: vw(18);
            margin-right: vw(10);
          }
        }
      }
    }
  }
}
.section_4{
  .wrapper{
    .secondary-phone-slide{
      .owl-stage-outer{
        border-radius: vw(50);
      }
      .owl-dots{
        bottom: -#{vw(102)};
        left:50%;
        transform: translate(-50%);
        .custom-dot{
          width: vw(20);
          height: vw(20);
        }
      }
    }
  }
}