section {
  height: 100% !important;
  .wrapper {
    .logo {
      width: vw(266);
      margin: auto;
      padding-top: vw(150);
      img{
        width: 100%;
      }
    }
    .title {
      &.white-type {
        font-size: vw(64);
        line-height: vw(88);
      }

      &.black-type {
        font-size: vw(56);
        line-height: vw(76);
      }
    }
  }
  &.section_1 {
    .text-banner{
      font-size: vw(28);
      line-height: vw(40);
      margin-bottom: vw(62) !important;
    }
    .title{
      margin-top:rem(41);
      margin-bottom: vw(47);
    }
    .img-link-banner{
      padding-bottom: vw(487);
      margin-bottom:0;
    }
    .img-banner {
      width:100%;
      margin: auto;
      position: absolute;
      top: vw(790);
      left: 50%;
      transform: translateX(-50%);
      width: vw(635);
      img {
        width: 100%;
      }
    }
  }
  &.section_2 {
    background-image: url(../images/bg_section02_01.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    .wrapper {
      .title{
        // padding-top: vw(492);
        padding-top: vw(335);
      }
      .text-banner {
        font-size: vw(32);
        line-height: vw(48);
        margin-top: vw(61);
      }
      .circle-bg{
        margin-top:vw(100);
        padding-bottom: vw(868);
        .phone {
          height: 100%;
          .bg-phone {
            position: absolute;
            left: 50%;
            bottom: 7%;
            transform: translateX(-50%);
             width: vw(411);
             margin: auto;
            img {
              width: 100%;
            }
            .hidden-img{
              width: vw(600);
              overflow:hidden;
            }
          }
      }
      .text-slide{
        bottom:10px
      }
      }
    }
  }
  &.section_3{
    .wrapper{
      .order-list{
        padding-top: vw(179);
        padding-bottom: vw(121);
      }
      .achievement-goal{
        padding-bottom: vw(158);
        ul{
          li{
            font-size: vw(28);
            line-height: vw(28);
            padding-left: vw(60);
            margin-bottom: vw(37);
            &:after{
              width: vw(28);
              height: vw(28);
            }
          }
        }
      }
    }
  }
  &.section_4{
    background-image: url(../images/m_bg_section04.png);
    .wrapper{
      .phone{
        width: 100%;
        display: flex;
        justify-content: center;
        margin-left: 0;
        .phone-img{
          padding-top: vw(160);
          img{
            width: 100%;
          }
          .sdsd{
            width: vw(636);
            margin: auto;
            margin-left: vw(20);
          }
        }
      }
      .secondary-phone-slide{
        top:vw(224);
        left:rem(6);
        padding-right:vw(70);
        padding-left:vw(79);
        .item{
          // width: vw(497);
          overflow: hidden;
          border-radius: vw(20);
          border-top-left-radius: vw(50);
          border-top-right-radius: vw(50);
          .img-banner{
            width: 100%;
            margin:auto;
            margin-top: vh(3);
            img{
              height: 100%;
              border-radius: 0;
            }
          }
        }
      }
      .text-banner{
        font-size: vw(32);
        line-height: vw(52);
        margin-top: vw(66);
        padding-bottom: vw(124);
        &.pc{
          display: none;
        }
        &.moblie{
          display: block;
        }
      }
    }
  }
  &.section_5{
    .wrapper{
      .logo{
        width: vw(163);
        padding-top: vw(100);
        margin: auto;
        img{
          width: 100%;
        }
      }
      .text-banner{
        font-size: vw(24);
        line-height: vw(50);
      }
      .img-link-banner{
        margin-top: vw(50);
        padding-bottom: vw(76);
      }
    }
  }
}