@media screen and (max-width:1440px) {
  $device-width: 750;
$body-font-size: 16 * 2;

// 단위변환
@function rem($px){
  $convert: $px / $body-font-size;
  @return $convert+rem;
}
  section{
    &.section_2{
      .wrapper{
        .circle-bg{
          .phone{
            .bg-phone{
              height:rem(814) ;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width:682px) {
  $device-width: 750;
$body-font-size: 16 * 2;

// 단위변환
@function rem($px){
  $convert: $px / $body-font-size;
  @return $convert+rem;
}
  section{
    &.section_2{
      .wrapper{
        .circle-bg{
          .phone{
            .bg-phone{
              height:rem(803) ;
            }
          }
        }
      }
    }
  }
}