.temrs table {
  width: 100%;
  table-layout: fixed;
  margin-bottom: rem(15);
}

.temrs table tr td,
.temrs table tr th {
  border: 1px solid black;
  padding: rem(10);
}

.temrs table tr th {
  background-color: #fbfbfb;
}

.temrs p {
  margin: 0;
  padding-bottom: rem(15);
}

.temrs .number {
  font-weight: 400;
  padding-bottom: 15px;
}

.temrs ul {
  padding-left: rem(15);
  padding-bottom: rem(15);
}

.temrs h1 {
  font-size: rem(40);
  font-weight: bold;
  margin-bottom: rem(20);
}

.temrs section {
  text-align: unset;
  height: auto;
}

.temrs .align-center {
  text-align: center;
}
