body, html {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans KR';
  letter-spacing: -0.05em;
}

body {
  -webkit-text-size-adjust: none;
}

body * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: 300;
}

ul, ol, li, dl, dt, dd {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

a:hover {
  text-decoration: none;
}

input, select, textarea, fieldset, button {
  outline: none;
  margin: 0;
  padding: 0;
  width: auto;
  min-width: auto;
  border: 0;
  cursor: pointer;
}

table {
  border-collapse: collapse;
}

em {
  font-style: normal;
}

textarea {
  resize: none;
}

.hidden {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin: 0;
}

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 100;
  src: url(../fonts/NotoSansKR-Thin.woff2) format("woff2"), url(../fonts/NotoSansKR-Thin.woff) format("woff"), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.otf) format("opentype");
}

@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/NotoSansKR-Light.woff2) format("woff2"), url(../fonts/NotoSansKR-Light.woff) format("woff"), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.otf) format("opentype");
}

@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/NotoSansKR-Regular.woff2) format("woff2"), url(../fonts/NotoSansKR-Regular.woff) format("woff"), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf) format("opentype");
}

@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 500;
  src: url(../fonts/NotoSansKR-Medium.woff2) format("woff2"), url(../fonts/NotoSansKR-Medium.woff) format("woff"), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.otf) format("opentype");
}

@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/NotoSansKR-Bold.woff2) format("woff2"), url(../assets/fonts/NotoSansKR-Bold.woff) format("woff"), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.otf) format("opentype");
}

section {
  width: 100%;
  text-align: center;
  height: 73.75rem;
}

section.primary-bg {
  background-color: #000758;
}

section.gray-bg {
  background-color: #eaeaf1;
}

section.secondary-bg {
  background-color: #0276ed;
}

section.medium-type {
  height: 51.25rem;
}

section.la-type {
  height: 107.5rem;
}

section.sm-type {
  height: 34.8125rem;
}

section .wrapper {
  width: 100%;
  max-width: 75rem;
  margin: auto;
  padding: 0 0.625rem;
}

section .wrapper .title.white-type {
  font-size: 4.375rem;
  line-height: 5.625rem;
  color: #ffffff;
  font-weight: 500;
}

section .wrapper .title.black-type {
  font-size: 3.75rem;
  line-height: 4.75rem;
  color: #000000;
}

section .wrapper .logo {
  padding-top: 10.875rem;
}

.fc-white {
  color: #ffffff;
}

.fc-primary {
  color: #000758;
}

.fc-gray {
  color: #0ce8de;
}

.fc-secondary {
  color: #0276ed;
}

.mb-67 {
  margin-bottom: 4.1875rem !important;
}

.img-link-banner ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.img-link-banner ul li {
  width: 18.75rem;
  margin-right: 2.5rem;
}

.img-link-banner ul li a {
  display: block;
}

.img-link-banner ul li a img {
  width: 100%;
}

.img-link-banner ul li:last-child {
  margin-right: 0.9375rem;
}

.text-banner {
  font-size: 2rem;
  line-height: 2.625rem;
  letter-spacing: -0.05em;
  margin: 0;
}

.section_1 .title {
  margin-top: 1.5625rem;
  margin-bottom: 3.125rem;
}

.section_1 .img-link-banner {
  margin-bottom: 5.9375rem;
}

.section_2 .wrapper .title {
  padding-top: 26.875rem;
  font-weight: 400;
}

.section_2 .wrapper .text-banner {
  margin-top: 3.0625rem;
  line-height: 2.875rem;
}

.section_2 .wrapper .text-banner span {
  font-weight: 500;
}

.section_2 .wrapper .circle-bg {
  position: relative;
  margin-top: 6.25rem;
}

.section_2 .wrapper .circle-bg .phone {
  width: 100%;
  height: 32rem;
}

.section_2 .wrapper .circle-bg .phone .bg-phone {
   /* padding-top: 17.25rem;  */
/*  padding-top: 11.65rem; */
}

.section_2 .wrapper .phone-slide {
  position: absolute;
  bottom: -0.25rem;
  left: -0.0625rem;
}

.section_2 .wrapper .phone-slide .item {
   -webkit-box-pack: center;
                -ms-flex-pack: center;
          justify-content: center; 
}

.section_2 .wrapper .phone-slide .owl-dots {
  display: none;
}

.section_2 .wrapper .phone-slide.text-slide {
  top: 0;
  padding: 0;
}

.section_2 .wrapper .phone-slide.text-slide .owl-dots {
  display: block;
}

.section_3 {
  background-image: url(../images/bg_section03.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.section_3 .wrapper .order-list {
  padding: 0 0.9375rem;
  margin: auto;
  padding-top: 10rem;
  padding-bottom: 6.875rem;
}

.section_3 .wrapper .achievement-goal ul {
  display: inline-block;
}

.section_3 .wrapper .achievement-goal ul li {
  position: relative;
  font-size: 1.875rem;
  line-height: 1.875rem;
  font-weight: 400;
  color: #ffffff;
  margin-bottom: 2.3125rem;
  text-align: left;
  padding-left: 2.625rem;
}

.section_3 .wrapper .achievement-goal ul li:last-child {
  margin-bottom: 0;
}

.section_3 .wrapper .achievement-goal ul li:after {
  content: '';
  background-image: url(../images/icon_circle.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  left: 0.375rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 1.875rem;
  height: 1.875rem;
}

.section_4 {
  background-image: url(../images/bg_section04.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.section_4 .wrapper .phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section_4 .wrapper .phone .phone-img {
  position: relative;
  padding-top: 9.4375rem;
}

.section_4 .wrapper .text-banner {
  font-size: 1.875rem;
  line-height: 3.125rem;
  color: #ffffff;
  margin-top: 3.75rem;
}

.section_4 .wrapper .text-banner.moblie {
  display: none;
}

.section_5 {
  background-color: #00032d;
}

.section_5 .wrapper .logo {
  padding-top: 6.125rem;
}

.section_5 .wrapper .text-banner {
  margin-top: 1.25rem;
  font-size: 1.75rem;
  line-height: 3.125rem;
  font-weight: 300;
  color: #ffffff;
}

.section_5 .wrapper .img-link-banner {
  margin-top: 3.125rem;
}

.circle-bg {
  background-color: #ffffff;
  border-radius: 100%;
  min-width: auto;
  max-width: 47.4375rem;
  height: 47.4375rem;
  margin: auto;
}

.phone-slide {
  padding: 0 11.875rem;
}

.phone-slide .owl-stage-outer {
  border-top-left-radius: 2rem;
  border-top-right-radius: 2.1875rem;
}

.phone-slide .item {
 display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: start;
                -ms-flex-pack: start;
          justify-content: flex-start; 
}

.phone-slide .item .slide-img-banner {
  width: 23.625rem;
  max-width: 23.75rem;
}

.phone-slide .item .slide-img-banner img {
  height: 100%;
}

.phone-slide .item .text-banner {
  margin-top: 9.0625rem;
  margin-bottom: 5.1875rem;
  font-size: 2.125rem;
  line-height: 2.875rem;
  font-weight: 300;
}

.phone-slide .item .text-banner span {
  color: #0276ed;
  font-weight: 500;
}

.phone-slide .item .text-banner span span {
  color: #000000;
  font-weight: 300;
}

.phone-slide .owl-dots {
  position: absolute;
  top: 4.5rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.phone-slide .owl-dots .custom-dot {
  width: 1.125rem;
  height: 1.125rem;
  margin-right: 0.625rem;
  background-color: #eaeaf1;
  border-radius: 50%;
}

.phone-slide .owl-dots .custom-dot:last-child {
  margin: 0;
}

.phone-slide .owl-dots .custom-dot.active {
  background-color: #0de8dd;
}

.wrapper > div {
  position: relative;
}

.wrapper > div .secondary-phone-slide {
  position: absolute;
  top: 13.75rem;
  left: -0.3125rem;
  padding-left: 4.375rem;
  padding-right: 4.25rem;
}

.wrapper > div .secondary-phone-slide .owl-stage-outer {
  border-radius: 2.75rem;
}

.wrapper > div .secondary-phone-slide .item {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrapper > div .secondary-phone-slide .item .img-banner {
  width: 100%;
  max-width: 31.875rem;
  margin-left: 0.0625rem;
}

.wrapper > div .secondary-phone-slide .owl-dots {
  position: absolute;
  bottom: -6.375rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.wrapper > div .secondary-phone-slide .owl-dots .custom-dot {
  width: 1.25rem;
  height: 1.25rem;
  margin-right: 0.6875rem;
  background-color: #eaeaf1;
  border-radius: 50%;
}

.wrapper > div .secondary-phone-slide .owl-dots .custom-dot:last-child {
  margin: 0;
}

.wrapper > div .secondary-phone-slide .owl-dots .custom-dot.active {
  background-color: #0de8dd;
}

@media (min-width: 722px) and (max-width: 779px) {
  .phone-slide {
    padding: 0;
  }
  .phone-slide .item {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.order-list {
  width: 41.875rem;
}

.order-list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.order-list ul li {
  position: relative;
  width: 10.8125rem;
  height: 5.25rem;
  font-size: 1.875rem;
  font-weight: 500;
  line-height: 5.25rem;
  color: #ffffff;
  text-align: center;
  border-radius: 3.125rem;
  margin-right: 3.75rem;
}

.order-list ul li:nth-child(3), .order-list ul li:nth-child(6) {
  margin-right: 0;
}

.order-list ul li:nth-child(1), .order-list ul li:nth-child(2), .order-list ul li:nth-child(3) {
  margin-bottom: 4rem;
}

.order-list ul li:nth-child(1) {
  background-color: #58a6f8;
}

.order-list ul li:nth-child(2) {
  background-color: #00b2f9;
}

.order-list ul li:nth-child(3) {
  background-color: #2298f4;
}

.order-list ul li:nth-child(4) {
  background-color: #026dd0;
  background-color: #102a7e;
}

.order-list ul li:nth-child(5) {
  background-color: #03356b;
}

.order-list ul li:nth-child(6) {
  background-color: #026dd0;
}

.order-list ul li:after {
  content: '';
  position: absolute;
  top: 50%;
  right: -2.8125rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-image: url(../images/icon_dots.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 1.9375rem;
  height: 0.625rem;
}

.order-list ul li:nth-child(3):after, .order-list ul li:nth-child(4):after {
  width: 0.625rem;
  height: 1.9375rem;
  background-image: url(../images/icon_dots_row_type.png);
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.order-list ul li:nth-child(3):after {
  top: 6.1875rem;
}

.order-list ul li:nth-child(4):after {
  top: -3.0625rem;
}

.order-list ul li:nth-child(5):after, .order-list ul li:nth-child(6):after {
  left: -2.8125rem;
  right: 0;
}

footer {
  position: relative;
  background-color: #fbfbfb;
  padding-top: 1.8125rem;
}

footer .wrapper {
  width: 100%;
  max-width: 75rem;
  margin: auto;
  padding: 0 0.625rem;
}

footer .wrapper .footer-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 1.75rem;
}

footer .wrapper .footer-link ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .wrapper .footer-link ul li {
  position: relative;
  padding: 0 1.1875rem;
}

footer .wrapper .footer-link ul li:nth-child(1) {
  padding-left: 3.875rem;
}

footer .wrapper .footer-link ul li a {
  color: #9e9e9e;
  font-size: 1rem;
  font-weight: 400;
}

footer .wrapper .footer-link ul li:after {
  content: '';
  background-color: #cecece;
  width: 0.0625rem;
  height: 0.625rem;
  position: absolute;
  right: 0;
  top: 0.5rem;
}

footer .wrapper .footer-link ul li:last-child:after {
  display: none;
}

footer .wrapper .copyright {
  text-align: center;
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1rem;
  color: #9e9e9e;
  padding-top: 2.0625rem;
  padding-bottom: 4.125rem;
}

footer:after {
  content: '';
  width: 100%;
  height: 1px;
  position: absolute;
  top: 5.75rem;
  background-color: #ebebeb;
}

.temrs {
  text-align: unset;
  height: auto;
}

.temrs table {
  width: 100%;
  table-layout: fixed;
  margin-bottom: 0.9375rem;
}

.temrs table tr td,
.temrs table tr th {
  border: 1px solid black;
  padding: 0.625rem;
}

.temrs table tr th {
  background-color: #fbfbfb;
}

.temrs p {
  margin: 0;
  padding-bottom: 0.9375rem;
}

.temrs .number {
  font-weight: 400;
  padding-bottom: 15px;
}

.temrs ul {
  padding-left: 0.9375rem;
  padding-bottom: 0.9375rem;
}

.temrs h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1.25rem;
}

.temrs section {
  text-align: unset;
  height: auto;
}

.temrs .align-center {
  text-align: center;
}

@media screen and (max-width: 721px) {
  section {
    height: 100% !important;
  }
  section .wrapper .logo {
    width: 35.46667vw;
    margin: auto;
    padding-top: 20vw;
  }
  section .wrapper .logo img {
    width: 100%;
  }
  section .wrapper .title.white-type {
    font-size: 8.53333vw;
    line-height: 11.73333vw;
  }
  section .wrapper .title.black-type {
    font-size: 7.46667vw;
    line-height: 10.13333vw;
  }
  section.section_1 .text-banner {
    font-size: 3.73333vw;
    line-height: 5.33333vw;
    margin-bottom: 8.26667vw !important;
  }
  section.section_1 .title {
    margin-top: 1.28125rem;
    margin-bottom: 6.26667vw;
  }
  section.section_1 .img-link-banner {
    padding-bottom: 64.93333vw;
    margin-bottom: 0;
  }
  section.section_1 .img-banner {
    width: 100%;
    margin: auto;
    position: absolute;
    top: 105.33333vw;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 84.66667vw;
  }
  section.section_1 .img-banner img {
    width: 100%;
  }
  section.section_2 {
    background-image: url(../images/bg_section02_01.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
  }
  section.section_2 .wrapper .title {
    padding-top: 44.66667vw;
  }
  section.section_2 .wrapper .text-banner {
    font-size: 4.26667vw;
    line-height: 6.4vw;
    margin-top: 8.13333vw;
  }
  section.section_2 .wrapper .circle-bg {
    margin-top: 13.33333vw;
    padding-bottom: 110.4vw;
  }
  section.section_2 .wrapper .circle-bg .phone {
    height: 100%;
  }
  section.section_2 .wrapper .circle-bg .phone .bg-phone {
    position: absolute;
    left: 0;
	right:0;
    bottom: 7%;
    width: 54.8vw;
    margin: auto;
	padding-top:72%;
  }
  /* section.section_2 .wrapper .circle-bg .phone .bg-phone img {
    width: 100%;
  } */

  section.section_2 .wrapper .circle-bg .phone .bg-phone .hidden-img {
   /*  width: 80vw; */
    overflow: hidden;
  }
  section.section_2 .wrapper .circle-bg .text-slide {
    bottom: 10px;
  }
  section.section_3 .wrapper .order-list {
    padding-top: 23.86667vw;
    padding-bottom: 16.13333vw;
  }
  section.section_3 .wrapper .achievement-goal {
    padding-bottom: 21.06667vw;
  }
  section.section_3 .wrapper .achievement-goal ul li {
    font-size: 3.73333vw;
    line-height: 3.73333vw;
    padding-left: 8vw;
    margin-bottom: 4.93333vw;
  }
  section.section_3 .wrapper .achievement-goal ul li:after {
    width: 3.73333vw;
    height: 3.73333vw;
  }
  section.section_4 {
    background-image: url(../images/m_bg_section04.png);
  }
  section.section_4 .wrapper .phone {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: 0;
  }
  section.section_4 .wrapper .phone .phone-img {
    padding-top: 21.33333vw;
  }
  section.section_4 .wrapper .phone .phone-img img {
    width: 100%;
  }
  section.section_4 .wrapper .phone .phone-img .sdsd {
    width: 84.8vw;
    margin: auto;
    margin-left: 2.66667vw;
  }
  section.section_4 .wrapper .secondary-phone-slide {
    top: 30.4vw;
    left: 0.1875rem;
    padding-right: 9.33333vw;
    padding-left: 10.4vw;
  }
  section.section_4 .wrapper .secondary-phone-slide .item {
    width: 66.66667vw;
    overflow: hidden;
    border-radius: 2.66667vw;
  }
  section.section_4 .wrapper .secondary-phone-slide .item .img-banner {
    width: 100%;
    margin: auto;
  }
  section.section_4 .wrapper .secondary-phone-slide .item .img-banner img {
    height: 100%;
    border-radius: 0;
  }
  section.section_4 .wrapper .text-banner {
    font-size: 4.26667vw;
    line-height: 6.93333vw;
    margin-top: 8.8vw;
    padding-bottom: 16.53333vw;
  }
  section.section_4 .wrapper .text-banner.pc {
    display: none;
  }
  section.section_4 .wrapper .text-banner.moblie {
    display: block;
  }
  section.section_5 .wrapper .logo {
    width: 21.73333vw;
    padding-top: 13.33333vw;
    margin: auto;
  }
  section.section_5 .wrapper .logo img {
    width: 100%;
  }
  section.section_5 .wrapper .text-banner {
    font-size: 3.2vw;
    line-height: 6.66667vw;
  }
  section.section_5 .wrapper .img-link-banner {
    margin-top: 6.66667vw;
    padding-bottom: 10.13333vw;
  }
  .circle-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: unset;
  }
  .section_2 .wrapper .phone-slide {
    position: absolute;
    top: 2%;
    bottom: 0;
    left: 2%;
	right:4%;
	width:93%;
    /* padding-left: 1.55vw;
    padding-right: 2.3vw; */
	padding-left: 0%;
    padding-right:0%;
	letter-spacing:0;
  }
  .section_2 .wrapper .phone-slide .owl-stage-outer {
    /* border-top-left-radius: 1.125rem;
    border-top-right-radius: 1.125rem; */
	border-top-left-radius: 8%;
    border-top-right-radius: 8%;
  }
  .section_2 .wrapper .phone-slide .item .text-banner {
    font-size: 4.53333vw;
    line-height: 6.13333vw;
    margin-top: 18.66667vw;
    margin-bottom: 5.2vh;
  }
  .section_2 .wrapper .phone-slide .item .slide-img-banner {
    position: relative;
    width: 100%;
  }
  /* .section_2 .wrapper .phone-slide .item .slide-img-banner img {
    border-top-left-radius: 1.125rem;
    border-top-right-radius: 1.125rem;
  } */
  .section_2 .wrapper .phone-slide .owl-dots {
    display: none;
  }
  .section_2 .wrapper .phone-slide.text-slide {
    top: 0;
  }
  .section_2 .wrapper .phone-slide.text-slide .owl-dots {
    display: block;
    top: 2.53333vh;
  }
  .section_2 .wrapper .phone-slide.text-slide .owl-dots .custom-dot {
    width: 2.4vw;
    height: 2.4vw;
    margin-right: 1.33333vw;
  }
  .section_4 .wrapper .secondary-phone-slide .owl-stage-outer {
    border-radius: 6vw;
    border-bottom-left-radius: 8vw;
    border-bottom-right-radius: 8vw;
  }
  .section_4 .wrapper .secondary-phone-slide .owl-dots {
    bottom: -13.6vw;
    left: 50%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
  }
  .section_4 .wrapper .secondary-phone-slide .owl-dots .custom-dot {
    width: 2.66667vw;
    height: 2.66667vw;
  }
  .order-list {
    width: 100%;
  }
  .order-list ul li {
    width: 21.86667vw;
    font-size: 1.0625rem;
    line-height: 2.625rem;
    height: 2.625rem;
    margin-right: 1.75rem;
  }
  .order-list ul li:after {
    width: 0.9375rem;
    height: 0.3125rem;
    right: -1.375rem;
  }
  .order-list ul li:nth-child(3):after, .order-list ul li:nth-child(4):after {
    width: 0.3125rem;
    height: 0.9375rem;
  }
  .order-list ul li:nth-child(1), .order-list ul li:nth-child(2), .order-list ul li:nth-child(3) {
    margin-bottom: 2rem;
  }
  .order-list ul li:nth-child(4):after {
    top: -1.5rem;
  }
  .order-list ul li:nth-child(3):after {
    top: 3.125rem;
  }
  .order-list ul li:nth-child(5):after, .order-list ul li:nth-child(6):after {
    left: -1.3125rem;
  }
  .img-link-banner {
    padding: 0 1.34375rem;
  }
  .img-link-banner ul li {
    max-width: 33.33333vw;
    min-width: 33.33333vw;
    margin-right: 1.0625rem;
  }
  .img-link-banner ul li:last-child {
    margin-left: 0;
    margin-right: 0;
  }
  footer .wrapper .footer-link .logo {
    width: 18.53333vw;
  }
  footer .wrapper .footer-link .logo img {
    width: 100%;
  }
  footer .wrapper .footer-link ul li {
    padding: 0 2.53333vw;
    margin: auto;
    margin-top: -0.8vw;
  }
  footer .wrapper .footer-link ul li:nth-child(1) {
    padding-left: 4.66667vw;
  }
  footer .wrapper .footer-link ul li:last-child {
    padding-right: 0;
  }
  footer .wrapper .footer-link ul li:after {
    height: 1.33333vw;
    top: 55%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  footer .wrapper .footer-link ul li a {
    font-size: 0.93333vw;
    line-height: 0.93333vw;
  }
  footer .wrapper .copyright {
    font-size: 1.86667vw;
    line-height: 2.13333vw;
    padding-top: 0;
    padding-bottom: 9.06667vw;
  }
  footer:after {
    top: 16.53333vw;
  }
  .temrs {
    font-size: 0.875rem;
    table-layout: unset;
  }
  .temrs h1 {
    font-size: 1.25rem;
  }
  .temrs .email {
    font-size: 0.6875rem;
    word-break: break-all;
  }
}

@media screen and (max-width: 320px) {
}


@media screen and (max-width: 320px) {
  footer .wrapper .footer-link {
    display: block;
  }
  footer .wrapper .footer-link .logo {
    margin-left: 1.0625rem;
  }
  footer .wrapper .footer-link ul {
    display: block;
    text-align: center;
  }
  footer .wrapper .footer-link ul li {
    display: inline-block;
  }
  footer .wrapper .footer-link ul li:first-child {
    padding-left: 0;
  }
  .section_2 .wrapper .phone-slide{padding-left:1vw;}
   section.section_2 .wrapper .circle-bg .phone .bg-phone{padding-top:71.5%;}
}

.section_2 .wrapper .circle-bg .phone .bg-phone{background:url(../images/폰스킨.png) no-repeat 0 0;background-size:100% auto;position:absolute;left:0;right:0;bottom:7%;width:54.8vw;margin: 0 auto;padding-top:71.5%;}
.section_2 .wrapper .app_img_div .phone-slide {
	top: 1.5%;
    left: 1vw;
	right:2vw;
	width:52vw;
	padding-left:0%;
    padding-right:0%;
	margin:0 auto;
  }
.app_img_div.owl-stage-outer{width:52vw;}
.app_img_div .owl-item{width:52vw!important;}