.circle-bg{
  position: relative;
  background-color: #ffffff;
  border-radius: 100%;
  min-width: auto;
  max-width:rem(759);
  height: rem(759);
  margin: auto;
  &::after{
    content: '';
    background-color:transparent;
    border-radius: 100%;
    min-width: auto;
    max-width:rem(759);
    height: rem(759);
    border:10px solid #e9eaf1;
  }
}