section {
  width: 100%;
  text-align: center;
  height: rem(1180);
  &.primary-bg {
    background-color: $primary;
  }
  &.gray-bg {
    background-color: #eaeaf1;
  }
  &.secondary-bg {
    background-color: $secondary;
  }
  &.medium-type{
    height: rem(820);
  }
  &.la-type{
    height: rem(1720);
  }
  &.sm-type{
   height: rem(557); 
  }
  .wrapper {
    width: 100%;
    max-width: rem(1200);
    margin: auto;
    padding: 0 rem(10);
    .title {
      &.white-type {
        font-size: rem(70);
        line-height: rem(90);
        color: $fc-white;
        font-weight: $medium-bold;
      }
      &.black-type {
        font-size: rem(60);
        line-height: rem(76);
        color: $fc-black;
      }
    }
    .logo{
      padding-top: rem(174);
    }
  }
}