footer{
  position: relative;
  background-color: #fbfbfb;
  padding-top: rem(29);
  .wrapper{
    width: 100%;
    max-width: 75rem;
    margin: auto;
    padding: 0 0.625rem;
    .footer-link{
      display: flex;
      justify-content: center;
      padding-bottom: rem(28);
      ul{
        display: flex;
        li{
          position: relative;
          padding:0 rem(19);
          &:nth-child(1){
            padding-left: rem(62);
          }
          a{
            color: #9e9e9e;
            font-size: rem(16);
            font-weight: $normal;
          }
          &:after{
            content: '';
            background-color: #cecece;
            width: rem(1);
            height:rem(10);
            position: absolute;
            right: 0;
            top: rem(8);
          }
          &:last-child{
            &:after{
              display: none;
            }
          }
        }
      }
    }
    .copyright{
      text-align: center;
      font-size: rem(14);
      font-weight: $light;
      line-height: rem(16);
      color: #9e9e9e;
      padding-top: rem(33);
      padding-bottom: rem(66);
    }
  }
  &:after{
    content: '';
    width: 100%;
    height: 1px;
    position: absolute;
    top: rem(92);
    background-color: #ebebeb;
  }
}