.img-link-banner{
  ul{
    display: flex;
    align-items: center;
    justify-content: center;
    li{
      width: rem(300);
      margin-right:rem(40);
      a{
        display: block;
        img{
          width: 100%;
        }
      }
      &:last-child{
        margin-right: rem(15);
      } 
    }
  }
}