.order-list{
  width: rem(670);
  ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    li{
      position: relative;
      width:rem(173);
      height: rem(84);
      font-size: rem(30);
      font-weight: $medium-bold;
      line-height: rem(84);
      color: $fc-white;
      text-align: center;
      border-radius: rem(50);
      margin-right: rem(60);
      &:nth-child(3),
      &:nth-child(6){
        margin-right: 0;
      }
      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(3){
        margin-bottom: rem(64);
      }
      &:nth-child(1){
        background-color:#58a6f8;
      }
      &:nth-child(2){
        background-color:#00b2f9;
      }
      &:nth-child(3){
        background-color: $second-blue;
      }
      &:nth-child(4){
        background-color: $drak-blue;
        background-color: $light-pupple;
      }
      &:nth-child(5){
        background-color: $drak-pupple;
      }
      &:nth-child(6){
        background-color: $blue;
      }
      &:after{
        content: '';
        position: absolute;
        top: 50%;
        right: -#{rem(45)};
        transform: translateY(-50%);
        background-image: url(../images/icon_dots.png);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        width:rem(31);
        height: rem(10);
      }
      &:nth-child(3),
      &:nth-child(4){
        &:after{
          width: rem(10);
          height: rem(31);
          background-image: url(../images/icon_dots_row_type.png);
          left: 50%;
          transform: translateX(-50%);
        }
      }
      &:nth-child(3){
        &:after{
          top: rem(99);
        }
      }
      &:nth-child(4){
       &:after{
        top: -#{rem(49)};
       }
      }
      &:nth-child(5),
      &:nth-child(6){
        &:after{
          left: -#{rem(45)};
          right: 0;
        }
      }
    }
  }
}