.phone-slide{
  padding: 0 rem(190);
  .owl-stage-outer{
    border-top-left-radius:rem(32);
    border-top-right-radius: rem(35);
  }
  .item{
    display: flex;
    justify-content: flex-start;
    .slide-img-banner{
      width: rem(378);
      max-width: rem(380);
      img{
        height: 100%;
      }
    }
    .text-banner{
      margin-top: rem(145);
      margin-bottom: rem(83);
      font-size: rem(34);
      line-height: rem(46);
      font-weight: $light;
      span{
        color: $fc-secondary;
        font-weight: $medium-bold;
        span{
          color: #000000;
          font-weight: $light;
        }
      }
    }
  }
  .owl-dots{
    position: absolute;
    top:rem(72);
    left: 50%;
    transform: translateX(-50%);
    .custom-dot{
      width: rem(18);
      height: rem(18);
      margin-right: rem(10);
      background-color: $dot;
      border-radius: 50%;
      &:last-child{
        margin: 0;
      }
      &.active{
        background-color: $dot-active;
      }
    }
  }
}

.wrapper{
  >div{
    position: relative;
    .secondary-phone-slide{
      position: absolute;
      top: rem(220);
      left:rem(-5);
    padding-left: rem(70);
    padding-right: rem(68);
    .owl-stage-outer{
      border-radius: rem(44);
    }
      .item{
        justify-content: center;
        .img-banner{
          width: 100%;
          max-width: rem(510);
          margin-left: rem(1);
        }
      }
      .owl-dots{
        position: absolute;
        bottom: -#{rem(102)};
        left: 50%;
        transform: translateX(-50%);
        .custom-dot{
          width: rem(20);
          height: rem(20);
          margin-right: rem(11);
          background-color: $dot;
          border-radius: 50%;
          &:last-child{
            margin: 0;
          }
          &.active{
            background-color: $dot-active;
          }
        }
      }
    }
  }
}
 @media (min-width: 722px) and (max-width: 779px) {
   .phone-slide{
      padding:0;
      .item{
        justify-content: center;
      }
    }
 }