.section_1{
  .title{
    margin-top: rem(25);
    margin-bottom: rem(50);
  }
  .img-link-banner{
    margin-bottom: rem(95);
  }
}
.section_2{
  .wrapper{
    .title{
      padding-top: rem(430);
      font-weight: $normal;
    }
    .text-banner{
      margin-top: rem(49);
      line-height: rem(46);
      span{
        font-weight:$medium-bold ;
      }
    }
    .circle-bg{
      position: relative;
      margin-top: rem(100);
      .phone{
        width: 100%;
        height: rem(512);
        .bg-phone{
          padding-top: rem(276);
        }
      }
    }
    .phone-slide{
      position: absolute;
      bottom: rem(-4);
      left: rem(-1);
      .item{
        justify-content: center;
      }
      .owl-dots{
        display: none;
      }
      &.text-slide{
        top: 0;
        padding: 0;
        .owl-dots{
          display: block;
        }
      }
    }
  }
}
.section_3{
  background-image: url(../images/bg_section03.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  .wrapper{
    .order-list{
      padding: 0 rem(15);
      margin: auto;
      padding-top:rem(160);
      padding-bottom: rem(110);
    }
    .achievement-goal{
      ul{
        display: inline-block;
        li{
          position: relative;
          font-size: rem(30);
          line-height: rem(30);
          font-weight:$normal;
          color: $fc-white;
          margin-bottom: rem(37);
          text-align: left;
          padding-left: rem(42);
          &:last-child{
            margin-bottom: 0;
          }
          &:after{
            content: '';
            background-image: url(../images/icon_circle.png);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            position: absolute;
            left: rem(6);
            top: 50%;
            transform: translateY(-50%);
            width: rem(30);
            height: rem(30);
          }
        }
      }
    }
  }
}
.section_4{
  background-image: url(../images/bg_section04.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  .wrapper{
    .phone{
      display: flex;
      justify-content: center;
      .phone-img{
        position: relative;
        padding-top: rem(151);
      }
    }
    .text-banner{
      font-size: rem(30);
      line-height: rem(50);
      color: $fc-white;
      margin-top: rem(60);
      &.moblie{
        display: none;
      }
    }
  }
}
.section_5{
  background-color: #00032d;
  .wrapper{
    .logo{
      padding-top: rem(98);
    }
    .text-banner{
      margin-top: rem(20);
      font-size: rem(28);
      line-height: rem(50);
      font-weight: $light;
      color: $fc-white;
    }
    .img-link-banner{
      margin-top: rem(50);
    }
  }
}