.temrs{
  text-align: unset;
  height: auto;
table{
  width: 100%;
  table-layout: fixed;
  margin-bottom: rem(15);
}
table tr td,
table tr th {
  border: 1px solid black;
  padding: rem(10);
}
table tr th {
  background-color:#fbfbfb;
}
p{
  margin: 0;
  padding-bottom: rem(15);
}
.number{
  font-weight: 400;
  padding-bottom: 15px;
}
ul{
  padding-left: rem(15);
  padding-bottom: rem(15);
}
h1{
  font-size: rem(40);
  font-weight: bold;
  margin-bottom: rem(20);
}
section{
  text-align: unset;
  height: auto;
}
.align-center{
  text-align: center;
}
}