@charset 'utf-8';

$thin: 100;
$light: 300;
$normal: 400;
$medium-bold:500;
$semi-bold: 700;
$bold: 800;

$primary:#fec449; 
$secondary:#f68923;
$white:#ffffff;
$black:#000000;

$tab-banner-bg:#fff8e8;
