@charset 'utf-8';

$thin: 100;
$light: 300;
$normal: 400;
$medium-bold:500;
$semi-bold: 700;
$bold: 800;

$primary:#000758;
$secondary:#0276ed;
$blue:#026dd0;
$second-blue:#2298f4;
$drak-blue:#026dd0;
$drak-pupple:#03356b;
$light-pupple:#102a7e;

$fc-white:#ffffff;
$fc-black:#000000;
$fc-primary:$primary;
$fc-secondary:$secondary;

$dot:#eaeaf1;
$dot-active:#0de8dd;